@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pacifico';
    src: url('../src/assets/Fonts/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: 'Bubblegum';
  src: url('../src/assets/Fonts/BubblegumSans.otf') format('truetype');
}

@font-face {
  font-family: 'Kudryashev';
  src: url('../src/assets/Fonts/Kudryashev Display Sans.ttf') format('truetype');
}